/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px ;
    grid-template-rows: 200px 200px 200px 200px ;
}

.grid-item-1 {
    grid-row: 1 / 3;
    grid-column: 1 / 3;
} */



  html, body,.header-container {
    background-color: #FBE690;
    opacity: 100%;
    font-family: 'Barlow',sans-serif;
    /* height: 50px; */
 }
 .nav-container, .header-container nav {
    background-color: #FFFFFF;
    opacity: 100%;
 }
 nav {
    height: 80px;
 }
 ul {
    font-size: large;
    margin: auto 0;
 }
 span,svg {
    margin: 0px 5px;
 }
 .bi-cart-fill {
    margin: 0px 35px;
 }
 #cart {
    height: 50px;
 }
 .icons {
    text-decoration: none;
 }
 .bi-person-circle, .fs-5 {
    color: red;
 }
 li, a {
    text-decoration: none;
    color: black;
 }
 #crust {
    font-family: 'Barlow',serif;
    font-weight: 500;
    font-size: 18px;
    color: #DD2803;
 }
 .bi-star-fill {
    position: relative;
    left: -10px;
    top: -10px
 }
 .header-p  {
    margin-top: 10px;
    font-size: 52px;
    font-weight: 500;
    font-family: 'Barlow', serif;
 }
 h1 {
    font-family: 'Barlow', serif;
    font-size: 120px;
    color: #DD2803;
 }
#home {
    color: #DD2803;
}
button {
    width: 200px;
    height: 60px;
}
.section {
    background-color: #f9f2ea;
    opacity: 100%;
}
.section .col-4 {
    background-color: #FFFFFF;
    opacity: 100%;
}
.section .row {
    margin-top: 100px;
}
div.my-3 {
    font-size: 22px;
}
.my-3~p {
    font-size: 18px;
}
/* .section .row .col-4 {
    border: 1px solid black;
} */
 .card {
    background-color: #F9F2EA;
 }